<!-- centrage de la class face-snap-card par une class bootstrap mx-auto, ajout d'une class dynamique snapped qui est appliquée quand un user snapped' -->
<div
  class="face-snap-card mx-auto"
  [ngClass]="{ snapped: buttonText === 'Oops, unSnap!' }"
>
  <!-- TitleCasePipe -->
  <h2>{{ faceSnap.title | titlecase }}</h2>
  <p>{{ faceSnap.description }}</p>
  <!-- button permettant l'user d'ouvrir le FaceSnap choisi -->
  <!-- le click du button est lié à la méthode onViewFaceSnap() -->
  <button (click)="onViewFaceSnap()">View</button>
</div>
